.NiceCSSTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.NiceCSSTable table{
	width:100%;
	margin:0px;padding:0px;
}.NiceCSSTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.NiceCSSTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.NiceCSSTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.NiceCSSTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.NiceCSSTable tr:hover td{
	background-color:#ffffff;
		

}
.NiceCSSTable td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.NiceCSSTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.NiceCSSTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.NiceCSSTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.NiceCSSTable tr:first-child td{
		background:-o-linear-gradient(bottom, #56aaff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#007fff");	background: -o-linear-gradient(top,#56aaff,007fff);

	background-color:#56aaff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.NiceCSSTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#007fff");	background: -o-linear-gradient(top,#56aaff,007fff);

	background-color:#56aaff;
}
.NiceCSSTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.NiceCSSTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

